.row{
    width: 100%;
}
.tm-blog-post{
    text-align: left;
}
.tm-blog-post > .tm-gold-text{
    color: #cc9900;
    padding-left: 50px;
}
.tm-blog-post > h3{
    font-size: 1.65rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 0;
    display: block;
}
.tm-aside-r{
    padding-left: 30px;
}
@media screen and(min-width: 992px){
    .col-lg-3{
        width: 25%;
    }
}
.tm-title{
    margin-bottom: 1rem;
    line-height: 1.4;
}
.tm-gold-text{
    color: #cc9900;
}

.tm-gold-text > h3{
    font-size: 1.65rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 0;
    display: block;
}
.tm-margin-t-small{
    margin-top: 30px;
}
hr{
    border-top: 1px solid #CCCCCC;
    margin-bottom: 1rem;
    border: 0;
    height: 0;
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
}