@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";

/**
    登录页面样式
**/

body{
    width: 100%;
    background-image: url("/images/login_bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
}

page{
    width: 100%;
    height:inherit;
}
.panel{
    display: block;
    overflow: hidden !important;
    z-index: 100;
    text-align: center;
    position: relative;
    margin-top:15%;
    width: 32%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.08);
}
.form-group{
    margin: unset;
    display: flex;
    justify-content: center;
    font-family: 微软雅黑;
}

.account_item ,.password_item{
    background: rgba(255 255 255 0.15);
    /*border: 1px solid #FFF;*/
    border-radius: 3px;
    margin-top: 10px;
    height: 42px;
    width: 100%;
}

.login_btn_item{
    width: 100%;
    position: relative;
    min-height: 1px;
    padding: 15px;
}
.btn-primary{
    background: #00aeff;
    width: 100%;
}

.bottom_controll{
    width: 100%;
    position: relative;
    min-height: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.login_pitch{
    width: 100%;
    display: flex;
    line-height: 20px;
    font-size: 14px;
    color: #FFF;
    text-align: center;
    padding-left: 15px;
    margin: unset;
    font-weight: unset;
    align-content: center;
    align-items: center;
}
.f1{
    float: left;
}

.login_pitch input[type="checkbox"]{
    /*-webkit-appearance: none;*/
    width: 16px;
    height: 16px;
    vertical-align: middle;
    display: block;
    outline: none;
    border: 1px solid #FFF;
    border-radius: 2px;
    overflow: hidden;
    text-align: center;
    margin: unset;
}
.right_control{
    width: 50%;
    font-size: 14px;
    line-height: 20px;
    color: #b4b4b4;
    text-align: right;
}

