@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";

/**
    注册页面样式
**/

.name_item,.nickname_item,.email_item{
    background: rgba(255 255 255 0.15);
    /*border: 1px solid #FFF;*/
    border-radius: 3px;
    margin-top: 10px;
    height: 42px;
    width: 100%;
}

.form-horizontal{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.panel-body {
    padding: 15px;
}
.panel-heading {
    padding: unset;
}
.login_btn_item {
    padding: 15px;
}

