@import url(font-awesome.min.css);
/*@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");*/

body{
    font-family: "Poppins", sans-serif,Serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
}
#page{
    position: relative;
    overflow-x: hidden;/*对横向边缘进行裁剪*/
    -webkit-transition: 0.5s;
    transition: 0.5s;/*渐变属性0.5s时长*/
}

.offcanvas #page{
    overflow: hidden;/*边缘裁剪*/
    position: absolute;/*绝对定位*/
}

.offcanvas #page:after{
    -webkit-transition: 2s;
    transition: 2s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;/*垂直定位*/
    background: rgba(0,0,0,0.7);
    content: '';/*插入内容*/
}
/*
页面加载
*/
/*.gtco-loader{*/
    /*position: fixed;*/
    /*left: 0px;*/
    /*top: 0px;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*z-index: 9999;*/
/*}*/

/*
导航变化前
*/
/*
头部
*/

a{
    color: #F73859;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: transparent;/*默认。背景颜色为透明。*/
}

a:hover, a:active, a:focus{/*设置a标签在鼠标移上去时点击时和焦点选中时的样式*/
    color: #F73859;
    outline: none;/*轮廓样式*/
    text-decoration: none;/*文本修饰*/
}

p{
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure{/*figure标签规定独立的流内容（图像、图表、照片、代码等等）。*/
    color: #000;
    font-family: Cambria,Arial,sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
}

::-webkit-selection{
    color: #fff;
    background: #F73859;
}
::selection{/*改变文字被选中时的字体颜色和背景*/
    color: #fff;
    background: #F73859;
}

.copyrights{
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

.gtco-nav{
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 25px 0;
    z-index: 1001;
    background: transparent;/*透明背景*/
    -webkit-transition: 0.5s;
    transition: 0.5s;/*渐变动画时长0.5秒*/
}

.gtco-nav > .container{/*为class="gtco-nav"的第一个class="container"子元素赋样式*/
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(255,255,255,0.7);
}


@media screen and (max-width: 768px){/*当屏幕宽度大于768px的时候执行下面的样式*/
    .gtco-nav{
        padding: 25px 0;
    }
}

.gtco-nav #gtco-logo{
    font-size: 24px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;/*控制文本的大小写。当前是全大写*/
    font-weight: bold;
}

@media screen and (max-width: 768px){/*当屏幕宽度大于768px的时候执行以下样式*/
    .gtco-nav #gtco-logo{
        margin-bottom: 0;
    }
}

.gtco-nav #gtco-logo a > span{
    color: #F73859;
}
.gtco-nav a{
    padding: 5px 10px;
    color: #fff;
}

@media screen and (max-width: 768px){
    .gtco-nav .menu-1{
        display: none;
    }
}

.gtco-nav ul{
    padding: 0;
    margin: 7px 0 0 0;
}
.gtco-nav ul li{
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
    font-family: "Poppins", sans-serif,Serif;
}
.gtco-nav ul li > a{
    font-size: 12px;
    text-transform: uppercase;/*字母全大写*/
    letter-spacing: 2px;/*字母间距2px*/
    padding: 30px 10px;
    color: rgba(255,255,255,0.5);
    transition: 0.5s;
}
.gtco-nav ul li > a:hover, .gtco-nav ul li > a:focus, .gtco-nav ul li > a:active{
    color: white;
}
.gtco-nav ul li.has-dropdown{
    position: relative;
}

.gtco-nav ul li.has-dropdown .dropdown{
    width: 130px;
    -webkit-box-shadow: 0px 8px 13px -9px rgba(0,0,0,0.75);
    -moz-box-shadow:  0px 8px 13px -9px rgba(0,0,0,0.75);
    box-shadow:  0px 8px 13px -9px rgba(0,0,0,0.75);
    z-index: 1002;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 0;
    text-align: left;
    background: #fff;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0s;
    transition: 0s;
}

.gtco-nav ul li.has-dropdown .dropdown:before{
    bottom: 100%;
    left: 40px;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 8px;
    margin-left: -8px;
}
.gtco-nav ul li.has-dropdown .dropdown li{
    display: block;
    margin-bottom: 7px;
}
.gtco-nav ul li.has-dropdown .dropdown li:last-child{
    margin-bottom: 0;
}

.gtco-nav ul li.has-dropdown .dropdown li > a{
    text-transform: none;
    letter-spacing: inherit;
    padding: 2px 0;
    display: block;
    color: #999999;
    line-height: 1.2;
    text-transform: none;
    font-size: 15px;
}
.gtco-nav ul li.has-dropdown .dropdown li > a:hover{
    color: #000;
}
.gtco-nav ul li.has-dropdown:hover a,.gtco-nav ul li.has-dropdown:focus a{
    color: #fff;
}

.gtco-nav ul li.btn-cta a{
    color: #F73859;
}

.gtco-nav ul li.btn-cta a span{
    background: #f35f55;
    color: #fff;
    padding: 4px 20px;
    display: -moz-inline-stack;
    display: inline-block;/*行内显示，但是长度不够将整体换行*/
    zoom: 1;/*设置或检索对象的缩放比例。*/
    *display:inline;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.gtco-nav ul li.btn-cta a:hover span{
    background: #f14034; !important;
    -webkit-box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
}
.gtco-nav ul li.active > a{
    color: #fff;
    position: relative;
}



/*
页面变化后
*/
.scrolled .gtco-nav{
    background: #fff;
    padding: 10px 0;
    -webkit-box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.15);
}

.scrolled .gtco-nav > .container{
    padding-bottom: 0px;
    border-bottom: 1px solid transparent;
}
.scrolled .gtco-nav a{
    color: #000;
}

.scrolled .gtco-nav ul li a:hover, .scrolled .gtco-nav ul li a:focus, .scrolled .gtco-nav ul li a:active{
    color: #F73859 !important;
}

.scrolled .gtco-nav ul li.active a{
    color: #F73859;
}
.scrolled .gtco-nav ul li.has-dropdown:hover > a, .scrolled .gtco-nav ul li.has-dropdown:focus > a{
    color: #F73859;
}

#gtco-header, #gtco-counter, .gtco-bg{
    background-size: cover;/*规定背景图像的尺寸*/
    background-position: top center;/*设置背景图像的起始位置。*/
    background-repeat: no-repeat;/*设置是否及如何重复背景图像。*/
    position: relative;
}
.gtco-bg{
    background-size: cover;
    background-position: center center;
    position: relative;
    width: 100%;
    float: left;
}
#gtco-header .date-post{
    display: block;
    color: rgba(255,255,255,0.5);
    font-size: 15px;
    text-transform: uppercase;
}

#gtco-header a{
    color: white;
}
#gtco-header a:hover{
    color: white;
}
/*背景*/
.gtco-cover{
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    width: 100%;
}

.gtco-cover .overlay{
    z-index: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(39,41,43,0.7);
}

.gtco-cover > .gtco-container{
    position: relative;
    z-index: 10;
}

@media screen and (max-width: 768px){
    .gtco-cover{
        height: 600px;
    }
}

.gtco-cover .display-t, .gtco-cover .display-tc{
    z-index: 9;
    height: 900px;
    display: table;
    width: 100%;
}
@media screen and (max-width: 768px){
    .gtco-cover .display-t, .gtco-cover .display-tc{
        height: 600px;
    }
}
.gtco-cover.gtco-cover-sm{
    height: 600px;
}
@media screen and (max-width: 768px){
    .gtco-cover.gtco-cover-sm{
        height: 400px;
    }
}
.gtco-cover.gtco-cover-sm .display-t,
.gtco-cover.gtco-cover-sm .display-tc{
    height: 600px;
    display: table;
    width: 100%;
}
@media screen and (max-width: 768px){
    .gtco-cover.gtco-cover-sm .display-t,
    .gtco-cover.gtco-cover-sm .display-tc{
        height: 400px;
    }
}

.row{
    margin-left: -15px;
    margin-right: -15px;
}
.gtco-staff{
    text-align: center;
    margin-bottom: 30px;
    background: #fff;
    padding: 30px;
    float: left;
    width: 100%;
}

.gtco-staff img{
    width: 100%;
    margin-bottom: 20px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.gtco-staff h3{
    font-size: 24px;
    margin-bottom: 5px;
}
.gtco-staff p{
    margin-bottom: 30px;
}
.gtco-staff .role{
    color: #bfbfbf;
    margin-bottom: 30px;
    font-weight: normal;
    display: block;
}

#gtco-header .display-tc, #gtco-counter .display-tc, .gtco-cover .display-tc{
    display: table-cell; !important;
    vertical-align: middle;
}
#gtco-header .display-tc h1, #gtco-header .display-tc h2,
#gtco-counter .display-tc h1, #gtco-counter .display-tc h2,
.gtco-cover .display-tc h1, .gtco-cover .display-tc h2{
    margin: 0;
    padding: 0;
    color: white;
}
#gtco-header .display-tc h1, #gtco-counter .display-tc h1, .gtco-cover .display-tc h1{
    margin-bottom: 0px;
    margin-top: 0;
    font-size: 60px;
    line-height: 1.1;
    font-family: "Courier New", monospace, Arial, sans-serif;
    font-weight: 300;
}
@media screen and (max-width: 768px){
    #gtco-header .display-tc h1, #gtco-counter .display-tc h1, .gtco-cover .display-tc h1{
        font-size: 40px;
    }
}
#gtco-header .display-tc h2, #gtco-counter .display-tc h2, .gtco-cover .display-tc h2{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-transform: uppercase;
}

#gtco-offcanvas{
    position: fixed;
    z-index: 1901;
    width: 270px;
    background: black;
    top: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 45px 40px 40px 40px;
    overflow-y: auto;/*纵向保留*/
    display: none;
    -moz-transform: translateX(270px);
    -webkit-transform: translateX(270px);
    transform: translateX(270px);/*纵向移动270px距离*/
    -webkit-transition: 0.5s;
    transition: 0.5s;

}

@media screen and (max-width: 768px){
    #gtco-offcanvas{
        display: block;
    }
}
.offcanvas #gtco-offcanvas{
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

#gtco-offcanvas a{
    color: rgba(255,255,255,0.5);
}
#gtco-offcanvas a:hover{
    color: rgba(255,255,255,0.8);
}
#gtco-offcanvas ul{
    padding: 0;
    margin: 0;
}
#gtco-offcanvas ul li{
    padding: 0;
    margin: 0;
    list-style: none;
}

#gtco-offcanvas ul li > ul{
    padding-left: 20px;
    display: none;
}
#gtco-offcanvas ul li.offcanvas-has-dropdown > a{
    display: block;
    position: relative;
}

#gtco-offcanvas ul li.offcanvas-has-dropdown > a:after{
    position: absolute;
    right: 0;
    font-family: "Courier New", monospace;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e921";
    font-size: 20px;
    color: rgba(255,255,255,0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#gtco-offcanvas ul li.offcanvas-has-dropdown .active a:after{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.uppercase{
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.gototop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;/*设置元素的不透明级别*/
    visibility: hidden;/*规定元素是否可见*/
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.gototop.active{
    opacity: 1;
    visibility: visible;
}
.gototop a{
    width: 50px;
    height: 50px;
    display: table;
    background: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.gototop a i{
    height: 50px;
    display: table-cell;/*此元素会作为一个表格单元格显示（类似 <td> 和 <th>）*/
    vertical-align: middle;/*设置元素的垂直对齐方式*/
}

.gototop a:hover, .gototop a:active, .gototop a:focus{
    text-decoration: none;
    outline: none;
}

.gtco-nav-toggle{
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
}

.gtco-nav-toggle.active i::before, .gtco-nav-toggle.active i::after{
    background: #444;
}

.gtco-nav-toggle:hover, .gtco-nav-toggle:focus, .gtco-nav-toggle:active{
    outline: none;
    border-bottom: none !important;
}
.gtco-nav-toggle i{
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    color: #252525;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #252525;
    transition: all .2s ease-out;
}
.gtco-nav-toggle i::before, .gtco-nav-toggle i::after{
    content: '';
    width: 25px;
    height: 2px;
    background: #252525;
    position: absolute;
    left: 0;
    transition: all .2s ease-out;
}

.gtco-nav-toggle.gtco-nav-white > i{
    color: #fff;
    background: #fff;
}
.gtco-nav-toggle.gtco-nav-white > i::before, .gtco-nav-toggle.gtco-nav-white > i::after{
    background: #fff;
}
.gtco-nav-toggle i::before{
    top: -7px;
}
.gtco-nav-toggle i::after{
    bottom: -7px;
}
.gtco-nav-toggle:hover i::before{/*鼠标移上元素的时候在i标签前面加样式*/
    top:-10px;
}
.gtco-nav-toggle:hover i::after{
    bottom: -10px;
}
.gtco-nav-toggle.active i{
    background: transparent;
}
.gtco-nav-toggle.active i::before{
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.gtco-nav-toggle.active i::after{
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.gtco-nav-toggle{
    position: fixed;
    right: 0;
    top: 18px;
    z-index: 21;
    display: block;
    padding: 6px 0 0 0;
    margin: 0 auto;
    display: none;
    height: 44px;
    width: 44px;
    z-index: 2001;
    border-bottom: none !important;
}
.scrolled .gtco-nav-toggle{
    top: 5px;
}
@media screen and (max-width: 768px){
    .gtco-nav-toggle{
        display: block;
    }
}
