@import url(font-awesome.min.css);
/*@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");*/

body{
    font-family: "Poppins", sans-serif,Serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
}
#page{
    position: relative;
    overflow-x: hidden;/*对横向边缘进行裁剪*/
    -webkit-transition: 0.5s;
    transition: 0.5s;/*渐变属性0.5s时长*/
}

.offcanvas #page{
    overflow: hidden;/*边缘裁剪*/
    position: absolute;/*绝对定位*/
}

.offcanvas #page:after{
    -webkit-transition: 2s;
    transition: 2s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;/*垂直定位*/
    background: rgba(0,0,0,0.7);
    content: '';/*插入内容*/
}
/*
页面加载
*/
/*.gtco-loader{*/
    /*position: fixed;*/
    /*left: 0px;*/
    /*top: 0px;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*z-index: 9999;*/
/*}*/

/*----------------------------------------------------------*/
/*-----------------------滚动前头部导航样式------------------*/
/*----------------------------------------------------------*/

a{
    color: #F73859;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: transparent;/*默认。背景颜色为透明。*/
}

a:hover, a:active, a:focus{/*设置a标签在鼠标移上去时点击时和焦点选中时的样式*/
    color: #F73859;
    outline: none;/*轮廓样式*/
    text-decoration: none;/*文本修饰*/
}

p{
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure{/*figure标签规定独立的流内容（图像、图表、照片、代码等等）。*/
    color: #000;
    font-family: Cambria,Arial,sans-serif;
    font-weight: 400;
    margin: 0 0 15px 0;
}

::-webkit-selection{
    color: #fff;
    background: #F73859;
}
::selection{/*改变文字被选中时的字体颜色和背景*/
    color: #fff;
    background: #F73859;
}

.copyrights{
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

.gtco-nav{
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 25px 0;
    z-index: 1001;
    background: transparent;/*透明背景*/
    -webkit-transition: 0.5s;
    transition: 0.5s;/*渐变动画时长0.5秒*/
}

.gtco-nav > .container{/*为class="gtco-nav"的第一个class="container"子元素赋样式*/
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(255,255,255,0.7);
}


@media screen and (max-width: 768px){/*当屏幕宽度大于768px的时候执行下面的样式*/
    .gtco-nav{
        padding: 25px 0;
    }
}

.gtco-nav #gtco-logo{
    font-size: 24px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;/*控制文本的大小写。当前是全大写*/
    font-weight: bold;
}

@media screen and (max-width: 768px){/*当屏幕宽度大于768px的时候执行以下样式*/
    .gtco-nav #gtco-logo{
        margin-bottom: 0;
    }
}

.gtco-nav #gtco-logo a > span{
    color: #F73859;
}
.gtco-nav a{
    padding: 5px 10px;
    color: #fff;
}

@media screen and (max-width: 768px){
    .gtco-nav .menu-1{
        display: none;
    }
}

.gtco-nav ul{
    padding: 0;
    margin: 7px 0 0 0;
}
.gtco-nav ul li{
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
    font-family: "Poppins", sans-serif,Serif;
}
.gtco-nav ul li > a{
    font-size: 12px;
    text-transform: uppercase;/*字母全大写*/
    letter-spacing: 2px;/*字母间距2px*/
    padding: 30px 10px;
    color: rgba(255,255,255,0.5);
    transition: 0.5s;
}
.gtco-nav ul li > a:hover, .gtco-nav ul li > a:focus, .gtco-nav ul li > a:active{
    color: white;
}
.gtco-nav ul li.has-dropdown{
    position: relative;
}

.gtco-nav ul li.has-dropdown .dropdown{
    width: 130px;
    -webkit-box-shadow: 0px 8px 13px -9px rgba(0,0,0,0.75);
    -moz-box-shadow:  0px 8px 13px -9px rgba(0,0,0,0.75);
    box-shadow:  0px 8px 13px -9px rgba(0,0,0,0.75);
    z-index: 1002;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 0;
    text-align: left;
    background: #fff;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0s;
    transition: 0s;
}

.gtco-nav ul li.has-dropdown .dropdown:before{
    bottom: 100%;
    left: 40px;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 8px;
    margin-left: -8px;
}
.gtco-nav ul li.has-dropdown .dropdown li{
    display: block;
    margin-bottom: 7px;
}
.gtco-nav ul li.has-dropdown .dropdown li:last-child{
    margin-bottom: 0;
}

.gtco-nav ul li.has-dropdown .dropdown li > a{
    text-transform: none;
    letter-spacing: inherit;
    padding: 2px 0;
    display: block;
    color: #999999;
    line-height: 1.2;
    text-transform: none;
    font-size: 15px;
}
.gtco-nav ul li.has-dropdown .dropdown li > a:hover{
    color: #000;
}
.gtco-nav ul li.has-dropdown:hover a,.gtco-nav ul li.has-dropdown:focus a{
    color: #fff;
}

.gtco-nav ul li.btn-cta a{
    color: #F73859;
}

.gtco-nav ul li.btn-cta a span{
    background: #f35f55;
    color: #fff;
    padding: 4px 20px;
    display: -moz-inline-stack;
    display: inline-block;/*行内显示，但是长度不够将整体换行*/
    zoom: 1;/*设置或检索对象的缩放比例。*/
    *display:inline;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.gtco-nav ul li.btn-cta a:hover span{
    background: #f14034; !important;
    -webkit-box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
}
.gtco-nav ul li.active > a{
    color: #fff;
    position: relative;
}


/*----------------------------------------------------------*/
/*-----------------------页面滚动后头部样式------------------*/
/*----------------------------------------------------------*/

.scrolled .gtco-nav{
    background: #fff;
    padding: 10px 0;
    -webkit-box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.15);
}

.scrolled .gtco-nav > .container{
    padding-bottom: 0px;
    border-bottom: 1px solid transparent;
}
.scrolled .gtco-nav a{
    color: #000;
}

.scrolled .gtco-nav ul li a:hover, .scrolled .gtco-nav ul li a:focus, .scrolled .gtco-nav ul li a:active{
    color: #F73859 !important;
}

.scrolled .gtco-nav ul li.active a{
    color: #F73859;
}
.scrolled .gtco-nav ul li.has-dropdown:hover > a, .scrolled .gtco-nav ul li.has-dropdown:focus > a{
    color: #F73859;
}

#gtco-header, #gtco-counter, .gtco-bg{
    background-size: cover;/*规定背景图像的尺寸*/
    background-position: top center;/*设置背景图像的起始位置。*/
    background-repeat: no-repeat;/*设置是否及如何重复背景图像。*/
    position: relative;
}
.gtco-bg{
    background-size: cover;
    background-position: center center;
    position: relative;
    width: 100%;
    float: left;
}
#gtco-header .date-post{
    display: block;
    color: rgba(255,255,255,0.5);
    font-size: 15px;
    text-transform: uppercase;
}

#gtco-header a{
    color: white;
}
#gtco-header a:hover{
    color: white;
}

/*----------------------------------------------------------*/
/*-----------------------页面背景---------------------------*/
/*----------------------------------------------------------*/

.gtco-cover{
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    width: 100%;
}

.gtco-cover .overlay{
    z-index: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(39,41,43,0.7);
}

.gtco-cover > .gtco-container{
    position: relative;
    z-index: 10;
}

@media screen and (max-width: 768px){
    .gtco-cover{
        height: 600px;
    }
}

.gtco-cover .display-t, .gtco-cover .display-tc{
    z-index: 9;
    height: 900px;
    display: table;
    width: 100%;
}
@media screen and (max-width: 768px){
    .gtco-cover .display-t, .gtco-cover .display-tc{
        height: 600px;
    }
}
.gtco-cover.gtco-cover-sm{
    height: 600px;
}
@media screen and (max-width: 768px){
    .gtco-cover.gtco-cover-sm{
        height: 400px;
    }
}
.gtco-cover.gtco-cover-sm .display-t,
.gtco-cover.gtco-cover-sm .display-tc{
    height: 600px;
    display: table;
    width: 100%;
}
@media screen and (max-width: 768px){
    .gtco-cover.gtco-cover-sm .display-t,
    .gtco-cover.gtco-cover-sm .display-tc{
        height: 400px;
    }
}

.row{
    margin-left: -15px;
    margin-right: -15px;
}
.gtco-staff{
    text-align: center;
    margin-bottom: 30px;
    background: #fff;
    padding: 30px;
    float: left;
    width: 100%;
}

.gtco-staff img{
    width: 100%;
    margin-bottom: 20px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.gtco-staff h3{
    font-size: 24px;
    margin-bottom: 5px;
}
.gtco-staff p{
    margin-bottom: 30px;
}
.gtco-staff .role{
    color: #bfbfbf;
    margin-bottom: 30px;
    font-weight: normal;
    display: block;
}

#gtco-header .display-tc, #gtco-counter .display-tc, .gtco-cover .display-tc{
    display: table-cell; !important;
    vertical-align: middle;
}
#gtco-header .display-tc h1, #gtco-header .display-tc h2,
#gtco-counter .display-tc h1, #gtco-counter .display-tc h2,
.gtco-cover .display-tc h1, .gtco-cover .display-tc h2{
    margin: 0;
    padding: 0;
    color: white;
}
#gtco-header .display-tc h1, #gtco-counter .display-tc h1, .gtco-cover .display-tc h1{
    margin-bottom: 0px;
    margin-top: 0;
    font-size: 60px;
    line-height: 1.1;
    font-family: "Courier New", monospace, Arial, sans-serif;
    font-weight: 300;
}
@media screen and (max-width: 768px){
    #gtco-header .display-tc h1, #gtco-counter .display-tc h1, .gtco-cover .display-tc h1{
        font-size: 40px;
    }
}
#gtco-header .display-tc h2, #gtco-counter .display-tc h2, .gtco-cover .display-tc h2{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-transform: uppercase;
}

#gtco-offcanvas{
    position: fixed;
    z-index: 1901;
    width: 270px;
    background: black;
    top: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 45px 40px 40px 40px;
    overflow-y: auto;/*纵向保留*/
    display: none;
    -moz-transform: translateX(270px);
    -webkit-transform: translateX(270px);
    transform: translateX(270px);/*纵向移动270px距离*/
    -webkit-transition: 0.5s;
    transition: 0.5s;

}

@media screen and (max-width: 768px){
    #gtco-offcanvas{
        display: block;
    }
}
.offcanvas #gtco-offcanvas{
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

#gtco-offcanvas a{
    color: rgba(255,255,255,0.5);
}
#gtco-offcanvas a:hover{
    color: rgba(255,255,255,0.8);
}
#gtco-offcanvas ul{
    padding: 0;
    margin: 0;
}
#gtco-offcanvas ul li{
    padding: 0;
    margin: 0;
    list-style: none;
}

#gtco-offcanvas ul li > ul{
    padding-left: 20px;
    display: none;
}
#gtco-offcanvas ul li.offcanvas-has-dropdown > a{
    display: block;
    position: relative;
}

#gtco-offcanvas ul li.offcanvas-has-dropdown > a:after{
    position: absolute;
    right: 0;
    font-family: "Courier New", monospace;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e921";
    font-size: 20px;
    color: rgba(255,255,255,0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#gtco-offcanvas ul li.offcanvas-has-dropdown .active a:after{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.uppercase{
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.gototop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;/*设置元素的不透明级别*/
    visibility: hidden;/*规定元素是否可见*/
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.gototop.active{
    opacity: 1;
    visibility: visible;
}
.gototop a{
    width: 50px;
    height: 50px;
    display: table;
    background: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.gototop a i{
    height: 50px;
    display: table-cell;/*此元素会作为一个表格单元格显示（类似 <td> 和 <th>）*/
    vertical-align: middle;/*设置元素的垂直对齐方式*/
}

.gototop a:hover, .gototop a:active, .gototop a:focus{
    text-decoration: none;
    outline: none;
}

.gtco-nav-toggle{
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
}

.gtco-nav-toggle.active i::before, .gtco-nav-toggle.active i::after{
    background: #444;
}

.gtco-nav-toggle:hover, .gtco-nav-toggle:focus, .gtco-nav-toggle:active{
    outline: none;
    border-bottom: none !important;
}
.gtco-nav-toggle i{
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    color: #252525;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #252525;
    transition: all .2s ease-out;
}
.gtco-nav-toggle i::before, .gtco-nav-toggle i::after{
    content: '';
    width: 25px;
    height: 2px;
    background: #252525;
    position: absolute;
    left: 0;
    transition: all .2s ease-out;
}

.gtco-nav-toggle.gtco-nav-white > i{
    color: #fff;
    background: #fff;
}
.gtco-nav-toggle.gtco-nav-white > i::before, .gtco-nav-toggle.gtco-nav-white > i::after{
    background: #fff;
}
.gtco-nav-toggle i::before{
    top: -7px;
}
.gtco-nav-toggle i::after{
    bottom: -7px;
}
.gtco-nav-toggle:hover i::before{/*鼠标移上元素的时候在i标签前面加样式*/
    top:-10px;
}
.gtco-nav-toggle:hover i::after{
    bottom: -10px;
}
.gtco-nav-toggle.active i{
    background: transparent;
}
.gtco-nav-toggle.active i::before{
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.gtco-nav-toggle.active i::after{
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.gtco-nav-toggle{
    position: fixed;
    right: 0;
    top: 18px;
    z-index: 21;
    display: block;
    padding: 6px 0 0 0;
    margin: 0 auto;
    display: none;
    height: 44px;
    width: 44px;
    z-index: 2001;
    border-bottom: none !important;
}
.scrolled .gtco-nav-toggle{
    top: 5px;
}
@media screen and (max-width: 768px){
    .gtco-nav-toggle{
        display: block;
    }
}

.mouse-icon{
    position: absolute;
    border: 2px solid #2f2f2f;
    background: #ffffff;
    opacity: 0.5;
    border-radius: 13px;
    height: 40px;
    width: 30px;
    margin: 0 auto;
    display: block;
    left: 0;
    right: 0;
    bottom: 150px;
    z-index: 100;
}
/*
头部跑马样式
*/
.carousel-inner{
    position: relative;
    z-index: -1;
}
.carousel-inner::before{
    background: rgba(0,0,0,6) linear-gradient(transparent,#1a1c1e) repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.carousel-inner img{
    width: 100%;
}
.carousel-control{
    width: 0;
}
.carousel-control.left, .carousel-control.right{
    opacity: 1;
    filter: alpha(opacity=100);
    background-image: none;
    background-repeat: no-repeat;
    text-shadow: none;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next{
    position: absolute;
    top: 45%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev{
    left: 30px;}
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next{
    right: 30px;}
.carousel-control.left span:hover,
.carousel-control.right span:hover{
    opacity: .7;
    filter: alpha(opacity=70);
}
.carousel-inner > .item{
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
    height: auto;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a >img{
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: 0;
    padding-left: 0;
}

.header-text{
    position: absolute;
    top: 25%;
    left: 8%;
    right: auto;
    width: 85%;
    color: #fff;
    z-index: 999;
    border-bottom: 2px solid #fff;
    padding-bottom: 60px;
}
.header-text h1{
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 65px;
}
.header-text hr{
    margin: 30px auto;
}
.header-text p{
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}
/*
小鼠标动态样式
*/
.mouse-icon .scroll{
    -webkit-animation-name: scrolling;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: scrolling;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
.mouse-icon .scroll{
    position: relative;
    border-radius: 10px;
    background: #2f2f2f;
    width: 4px;
    height: 8px;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes scrolling {
    0% {top: 2px; opacity: 0}
    30% {top: 8px; opacity: 1;}
    100% {top: 16px; opacity: 0;}
}
@keyframes scrolling {
    0% {top: 2px; opacity: 0}
    30% {top: 8px; opacity: 1;}
    100% {top: 16px; opacity: 0;}
}

/*----------------------------------------------------------*/
/*-----------------------文章列表样式-----------------------*/
/*----------------------------------------------------------*/

#gtco-main{
    width: 100%;
    float: left;
    padding: 7em 0;
    clear: both;
    background-color: #ebebeb;
}

#gtco-main .related-title{
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Browallia New",Serif;
    color: #000;
    margin-bottom: 50px;
}

.mt-negative{
    top: -7px;
    position: relative;
    z-index: 200;
}

article{
    text-align: center;
    float: left;
    margin-bottom: 0px;
    padding: 3em;
    background: #fff;
    position: relative;
}

article p{
    margin-bottom: 30px;
}

@media screen and (max-width: 1200px){
    article{
        margin-bottom: 80px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 992px){
    article{
        margin-bottom: 80px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 768px){
    article{
        margin-bottom: 40px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
article a img{
    opacity: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

article a:hover img{
    opacity: .4;
}
article figure{
    margin-bottom: 30px;
}

article h2{
    font-family: "Cambria",Arial,sans-serif;
    font-size: 34px;
    color: #000;
    margin-bottom: 30px;
}
article h2 a{
    color: #000;
}
@media screen and (max-width: 992px){
    article h2{
        font-size: 26px;
    }
}

@media screen and (max-width: 768px){
    article h2{
        font-size: 24px;
        margin-bottom: 20px;
    }
}

article .gtco-meta{
    font-size: 16px;
    font-family: "Browallia New",Serif;
    color: #999999;
    margin-bottom: 20px;
    display: block;
}

@media screen and (max-width: 480px){
    article .gtco-meta{
        margin-bottom: 10px;
    }
}

article .gtco-meta.gtco-date{
    text-transform: uppercase;
    letter-spacing: 2px;
}
article .content-article{
    padding-top: 1em;
}

article .content-article a{
    text-decoration: underline;
}
article .content-article blockquote{
    border-left: none;
    padding-left: 0;
}
article .content-article blockquote p{
    font-family: "Cambria" ,Arial,sans-serif;
    font-size: 27px;
    font-style: italic;
    line-height: 1.5;
    color: #000;
}
article .content-article blockquote p cite{
    padding-top: 20px;
    display: block;
    font-size: 14px;
    font-style: normal;
    font-family: "Times New Roman",Serif;
    color: gray;
}
article .gtco-highlight{
    border: 4px solid #f2f2f2;
    padding: 30px;
    width: 100%;
    margin-bottom: 30px;
}
article .gtco-highlight.right{
    float: right;
    margin-left: 30px;
}
article .gtco-highlight.left{
    float: left;
}
article .gtco-highlight h4{
    font-family: "Times New Roman",Serif;
    font-size: 14px;
    letter-spacing: 2px;
    color: #b3b3b3;
    text-transform: uppercase;
}
article .gtco-highlight p{
    font-family: "Cambria", Arial, sans-serif;
    font-style: italic;
    color: #000;
    font-size: 20px;
}
figure figcaption{
    padding-top: 15px;
    font-size: 12px;
    font-family: "Times New Roman", Serif;
    color: #999999;
}
#gtco-post-list{
    flex-wrap: wrap;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-left: -2%;
}
@media screen and (max-width: 768px){
    #gtco-post-list{
        margin-left: 0% !important;
    }
}
#gtco-post-list li{
    display: block;
    padding: 0;
    margin: 0 0 20px 2%;
    list-style: none;
    min-height: 400px;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    clear: left;
    position: relative;
    background: #fff;
}
@media screen and (max-width: 768px){
    #gtco-post-list li{
        margin-left: 0;
    }
}
#gtco-post-list li .post-meta{
    position: absolute;
    bottom: 30px;
    display: block;
    padding: 0 30px;
}
#gtco-post-list li .post-meta .data-posted{
    margin-left: 10px;
}
#gtco-post-list li.two-third{
    width: 64.6%;
}
@media screen and (max-width: 992px){
    #gtco-post-list li.two-third{
        width: 48%;
    }
}
@media screen and (max-width: 768px){
    #gtco-post-list li.two-third{
        width: 100%;
    }
}
#gtco-post-list li.one-third{
    width: 31.3%;
}
@media screen and (max-width: 992px){
    #gtco-post-list li.one-third{
        width: 48%;
    }
}
@media screen and (max-width: 768px){
    #gtco-post-list li.one-third{
        width: 100%;
    }
}
#gtco-post-list li.one-half{
    width: 48%;
}
@media screen and (max-width: 768px){
    #gtco-post-list li.one-half{
        width: 100%;
    }
}
.entry{
    display: block;
    overflow: hidden;
    clear: both;/*规定元素的哪一侧不允许其他浮动元素*/
    position: relative;
    float: left;
    width: 100%;
}
.entry.one-half {
    width: 50%;
    margin-right: 20px;
}
.entry.one-half:last-child{
    margin-right: 0;
}
.entry h3{
    font-size: 30px !important;
    line-height: 1.2;
}
.entry .entry-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /*min-height: 340px;*/
    transition: all 0.3s;
    text-align: center;
}
.entry .entry-img img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.entry .entry-desc{
    padding: 30px;
    /*margin-bottom: 40px;*/
    text-align: center;
    flex: 1;
}
.entry p{
    /*color: #1a1a1a;*/
    /*line-height: 1.9;*/
}
.entry.full{
    display: table;
    width: 100%;
}
@media screen and (max-width: 768px){
    .entry.full{
        display: block;
    }
}
.entry.full .entry-img{
    display: table-cell;
    vertical-align: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 50%;
    /*height: 500px;*/
}
@media screen and (max-width: 768px){
    .entry.full .entry-img{
        display: table-cell;
        width: 100%;
    }
}
.entry.full .entry-desc{
    background: #fff;
    padding: 30px;
    display: table-cell;
    width: 50%;
    margin-bottom: 40px;
}
@media screen and (max-width: 768px){
    .entry.full .entry-desc{
        display: block;
        width: 100% !important;
    }
}
.entry.full .entry-meta{
    margin-left: 50%;
}
@media screen and (max-width: 768px){
    .entry.full .entry-meta{
        margin-left: 0px;
    }
}
.post-entry > .post-entry, .post-entry > .post-img{
    vertical-align: top;
}
.post-entry > .post-img{
    display: table-cell;
    width: 100px;
}
.post-entry > .post-img a{
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.post-entry > .post-img a img{
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.post-entry > .post-img a:hover img{
    opacity: .8;
}
.post-entry > .post-copy{
    padding-left: 20px;
    display: table-cell;
}
.post-entry > .post-copy h4{
    color: #fff;
    font-size: 20px;
}
.post-entry > .post-copy h4 a{
    color: #fff;
}
.entry-desc .category{
    position: relative;
}
.entry-desc .category:before{
    left: -24px;
}
.entry-desc .category:after{
    right: -24px;
}
.entry-desc .category:before, .entry-desc .category:after{
    content: "";
    height: 1px;
    width: 16px;
    background: rgba(153,153,153,0.5);
    position: absolute;
    top: 50%;
    margin-top: -1px;
}
:after, :before{
    box-sizing: border-box;
}
.entry .entry-footer{
    border-top: 1px solid rgba(204,204,204,0.3);
    /*padding: 16px 0px;*/
    font-size: 12px;
    color: #999999;
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
}
.panel-heading{
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: unset;
    width: 100%;
}
.left{
    font-family: Andalus;
}
.title_span , .author_a{
    font-size: small;
    padding: 3px;
}
.pagination_item{
    text-align: center;
}
.entry-desc h3 a{
    font-family: 宋体;
    color: #000;
    font-size: 24px;
}
.category a{
    font-family: 仿宋;
    color: #000;
}
.entry-desc p{
    font-family: 宋体;
}

.entry-footer .panel-heading a{
    color: #777777;
    font-family: 宋体;
}

/*----------------------------------------------------------*/
/*-----------------------gototop----------------------------*/
/*----------------------------------------------------------*/
.gototop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.gototop.active{
    opacity: 1;
    visibility: visible;
}
.gototop a{
    width: 50px;
    height: 50px;
    display: table;
    background: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.gototop a i{
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus{
    text-decoration: none;
    outline: none;
}

/*---------------------------------------------------*/
/*-----------------------Footer-----------------------*/
/*----------------------------------------------------*/

footer{
    color: #444;
    font-size: 13px;
}
footer ul{
    padding: 0;
    margin-top: 10px;
}
footer ul li{
    list-style: none;
}
footer a{
    color: #444;
}
footer a:hover{
    color: #fff;
    text-decoration: underline;
}

footer .col-footer{
    margin: 10px 0 30px;
}
footer .col-footer p{
    font-family: 宋体;
    font-size: 10px;
    font-weight: 100;
}
.btn-skin{
    padding: 7px 20px;
    line-height: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #0aac8e;

}
footer .col-footer p .btn{
    border-radius: 2px;
    position: relative;
    display: inline-block;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 13px;
}

footer .col-footer form input[type='text']{
    border: 2px solid #E7E7E7;
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #999999;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    line-height: 1.2;
    margin: 10px 0;
    outline: medium none;
    padding: 5px 10px 0;
    transition: border-right-color 0.2s ease-in-out 0s,color 0.2s ease-in-out 0s;
    width: 100%;
    background-color: transparent;
    border: 2px solid #444444;
}

footer .wrap-footer{
    padding: 40px 0;
    background-color: #EAECEE;
}
footer .bottom-footer{
    background-color: #EAECEE;
    color: #fff;
    text-align: center;
    padding: 40px 0px 70px;
}
footer .bottom-footer a{
    font-weight: bold;
}
footer .bottom-footer p{
    font-weight: bold;
    color: #444;
}
footer .bottom-footer a:hover{
    color: #444;
}
footer .bottom-footer .container .row{
    width: 100%;
    display: flex;
    align-items: center;
}
footer ul.social-buttons li a{
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    font-size: 20px;
    color: #222;
    background-color: #fff;
    transition: 0.4s;
}
footer ul.social-buttons li a:hover{
    background-color: #0aac8e;
    color: #fff;
}
footer ul.social-buttons li a i{
    margin-top: 7px;
}
.footer-title:before{
    background-color: #0aac8e;
    content: "";
    height: 1em;
    left: 0;
    margin-top: -0.5em;
    position: absolute;
    top: 50%;
    width: 3px;
}
.footer-title{
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: -5px;
    padding-left: 13px;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    margin-top: 20px;
}
.footer-tags a{
    color: #444;
    border: 1px solid #444;
    padding: 4px 10px;
    line-height: 2.4;
    font-size: 13px;
    text-transform: capitalize;
}
.footer-tags a:hover{
    color: #fff;
    text-decoration: none;
    background: #0aac8e;
    border: 1px solid #0aac8e;
}

.widget_recent_entries li{
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: #999999;
    font-size: 10px;
    margin-bottom: 0;
    padding: 15px 0 16px;
    text-transform: uppercase;
}
.widget_recent_entries li a:before{
    content: " ";
    font-family: "FontAwesome";
    left: 0;
    line-height: 1;
    margin-top: -5px;
    position: absolute;
    top: 50%;
}
.widget_recent_entries li a{
    font-weight: bold;
    text-transform: uppercase;
    color: #444;
    display: inline-block;
    position: relative;
    padding-left: 14px;
    letter-spacing: 1px;
    font-size: 10px;
}